*{
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
h2{
    font-size: 30px;
}
h4{
    font-size: 16px;
}
.back-image{
    background-image: url("../images/background.jpg");
}
#profile{
max-height: 250px;
max-width: 200px;
}
.card-img-overlay{
    right: unset;
    bottom: unset;
    max-width: 40%;
    background-color: blue;
    padding: 10px;
    border-bottom-right-radius: 55px;
}
.images{
    border: 5px solid blue;
    filter: blur(2px);
}
.images:hover{
    filter: none;
}
main a{
    color:black;
    
}
.col-md-2{
border-right:4px solid black;
}
#weather{
    height: 650px
}
#day-p,#img-ed{
    height:300px;
}
@media(min-width: 1200px){
    #day-p, #img-ed{
        height: 400px;
    }
    #weather{
        height: 750px;
    }
}

@media(max-width : 767px){
    .col-md-2{
        border-right:none;
    }
    h2{
        border-bottom: 5px solid black;
    }
   #weather,#day-p,#img-ed{
       height:auto;
   }

}
@media(max-width: 400px){
    aside h4, aside p{
        font-size: 12px;
    }
    .card-img-overlay{
        max-width: 60%;
    }
}